<div class="text-bg-primary p-3">
    <atividade-frontend-menu-principal></atividade-frontend-menu-principal>
    
    <p class="text-start">
        Dinâmico, sempre em ação, seja para o estudo, trabalho ou vida pessoal. Movido por desafios e excelência nas atividades. Graduado em Análise e Desenvolvimento de Sistemas. Possuo, e sigo construindo, conhecimento em Engenharia e Arquitetura de Software.
    </p>
    <p class="text-start">
        Atualmente Tech Lead no Itaú Unibanco, construindo, desenhando, arquitetando e participando de projetos e soluções robustos, utilizando as melhores práticas da Engenharia de Software.
    </p>
</div>
